/* These are my login styling rules */

DIV.login_header {
        width:400;
        border-width: 1;
        border-color: #156009;
        border-style: solid; 
        padding: 10px;
        background-color: #156009;
        z-index:1;
        color: #A7E5A0;
        font-family: verdana, helvetica, arial;
        font-size:12pt;   
        font-style:normal;
        font-weight:900;
        margin:0px;
}

DIV.login {
        width:400;
        border-width: 1;
        border-color: #156009;
        border-style: solid;
        padding: 10px;
        background-color: #A7E5A0;
        z-index:1;
        color: #156009;
        font-family: verdana, helvetica, arial;
        font-size:10pt;
        font-style:normal;
        font-weight:500;
        margin:0px;
}

DIV.login_error_header {
        width:400;
        border-width: 1;
        border-color: #B20A23;
        border-style: solid;  
        padding: 10px;
        background-color: #B20A23;
        z-index:1;
        color: #FFD3DA;
        font-family: verdana, helvetica, arial;
        font-size:12pt;
        font-style:normal;
        font-weight:900;  
        margin:0px;
}
DIV.login_error {
        width:400;
        border-width: 1;
        border-color: #B20A23;
        border-style: solid;  
        padding: 10px;
        background-color: #FFD3DA;
        z-index:1;
        color: #B20A23;
        font-family: verdana, helvetica, arial;
        font-size:10pt;
        font-style:normal;
        font-weight:500;  
        margin:0px;
}

