.quick {
    font-style: italic;
    font-weight: 600;
  }


a:active {
    color: #cc3333;
  }


a:link {
    color: #336699;
  }


a:visited {
    color: #336699;
  }


h1 {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 20pt;
  }

h2 {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 18pt;
  }


h3 {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 16pt;
  }


h4 {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 14pt;
  }


p {
    font-family: "Times New Roman", Times, seriffont-size: 12pt;
  }


p.strong {
    color: #336699 fontweight: 500;
}

.errortext {
    color: #ff0000;
    font-weight: bold;
}

#content {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 474px;
    float: left;
    position: relative;
  }


#leftnav {
    float : left;
    position : relative;
    text-align : left;
    width : 102px;
 }


// Andrews additions
label
{
width: 175px;
float: left;
text-align: right;
margin-right: 0.5em
display: block
}

.submit input
{
margin-left: 4.5em;
}
input
{
color: #781351;
background: #fee3ad;
border: 1px solid #781351;
}

.submit input
{
color: #000;
background: #ffa20f;
border: 2px outset #00000;
}
fieldset
{
border: 1px solid #c0c0c0;
width: 475px;
}

legend
{
color: #fff;
background: #2244ff;
border: 1px solid #c0c0c0;
padding: 2px 6px
}
